.baseLayer-35bLyl.stop-animations, .baseLayer-35bLyl.animating-rRxada {
    transform: none !important;
    pointer-events: none;
}

div[aria-label="USER_SETTINGS"].layer-3QrUeG, div[aria-label="GUILD_SETTINGS"].layer-3QrUeG, div[aria-label="CHANNEL_SETTINGS"].layer-3QrUeG, .backdrop-1wrmKB {
    backdrop-filter: blur(8px) !important;
    z-index: 100  !important;
}
	
.theme-dark .sidebarRegionScroller-3MXcoP, .theme-dark .sidebarScrollable-1qPI87, .theme-dark .contentRegionScroller-26nc1e, .theme-dark .customContainer-1RHXqt {
    background-color: #2f313696;
}

.theme-light .sidebarRegionScroller-3MXcoP, .theme-light .sidebarScrollable-1qPI87, .theme-light .contentRegionScroller-26nc1e, .theme-light .customContainer-1RHXqt {
    background-color: #bec7db96;
}

.standardSidebarView-3F1I7i, .contentRegion-3nDuYy, div[aria-label="USER_SETTINGS"].layer-3QrUeG, div[aria-label="GUILD_SETTINGS"].layer-3QrUeG, div[aria-label="CHANNEL_SETTINGS"].layer-3QrUeG, aside.sidebarScrollable-1qPI87, aside > .scroller-305q3I, [aria-label="GUILD_SETTINGS"] .contentRegion-3nDuYy, .header-2mZ9Ov.stickyHeader-hH_ZLl {
    background-color: transparent !important;
}

.baseLayer-35bLyl.stop-animations {
    opacity: 100% !important;
}

.layer-2KE1M9 {
    z-index: 101  !important;
}

#popout_3354 {
    z-index: 102  !important;
}

.markValue-2DwdXI, .info-1VyQPT > span {
	color: var(--interactive-normal) !important;
}

.separator-gCa7yv {
	background-color: var(--channels-default) !important;
	backdrop-filter: opacity(0%) !important;
}
